/*===============================================================================================*/
/*PARA FORMATEAR EL CSS QUE TIENE EL HTML APLICADO POR DEFECTO*/
/*===============================================================================================*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*Para suavisar la forma en la que se desplaza el sitio cuando un link hacia una sesión dentro de la misma página*/
    scroll-behavior: smooth;
    /*Toma en cuanta el alto del nav-bar al realizar scroll
    scroll-padding-top: 150px;*/
}

/*===============================================================================================*/
/*ESTILOS DEL HEADER*/
/*===============================================================================================*/

#header{
    width: 100%;
    height: 150px;
    background: url(../images/fondos/fondo_header.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;    
}

#header .caja_header{
    display: grid;
    grid-template-columns: repeat(5 20px);
    grid-template-rows: 35px 35px 35px 35px;
    grid-template-areas: 
    "box1 box2 box3 box4 box5"
    "box6 box7 box8 box9 box10"
    "box11 box12 box13 box14 box15"
    "box16 box17 box18 box19 box20";
    column-gap:2%;
    row-gap: 3.5%;
    margin-right: 2%; 
    margin-bottom: 3%; 
}

.caja_header .primerh1{
    grid-area: box5;
    text-align: start;
    color: white;
    font-size: 35px;
    
}

.caja_header .segundoh1{
    grid-area: box10;
    text-align: center;
    color: white;
    font-size: 33px;
}

.caja_header .tercerh1{
    grid-area: box15;
    text-align: end;
    color: white;
    font-size: 33px;
    margin-right: 5%;
}

.caja_header nav ul li{
    text-decoration: none;
    display: inline;
    font-size: 20px;
    color: white;
    transition: 1s;
}

.caja_header nav ul li a{
    font-size: 25px;
    color: white;
    padding-left: 5px;
    transition: 1s;
    padding: 10px;
}

.caja_header nav{
    grid-area: box20;
    text-align: end;
}

/*
======================================================================================================================================
ESTO ES PARA QUITAR COSAS QUE BOOTSTRAP PUSO
======================================================================================================================================

*/


.caja_header .container-fluid{
    background-color: black;
}

.navbar-nav li a{
    text-decoration: none ;
}

.navbar-nav{
    align-items:end;
}

.box_redes_sociales_2dogrupo a{
    text-decoration: none;
}

.box_redes_sociales_1ergrupo a{
    text-decoration: none;
}

.encabezado h1{
    font-weight: bold;
}

/**/



#header figure{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-size: cover;

}

#header figure img{
    width: 100%;
    height: 100%;
}

/*===============================================================================================*/
/*PSEUDOCLASES DEL HEADER*/
/*===============================================================================================*/


header nav ul li a:hover{
    color: rgb(240, 109, 192);
    font-size: 30px;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 1s;
}

/*===============================================================================================*/
/*DISEÑO RESPONSIVE DEL HEADER*/
/*===============================================================================================*/

@media (max-width: 850px){

    .caja_header .primerh1{
        font-size: 25px;
        
    }
    
    .caja_header .segundoh1{
        font-size: 25px;
    }
    
    .caja_header .tercerh1{
        font-size: 25px;
        margin-right: 5%;
    }
    
    
    .caja_header nav ul li a{
        font-size: 15px;
        padding: 2px;
    }
    
    .caja_header nav{
        text-align: end;
    }

    header nav ul li a:hover{
    font-size: 20px;
    }   
}

@media (max-width: 500px){
    .caja_header .primerh1{
        grid-area: box1;
        text-align: center;
        font-size: 18px;       
    }
    
    .caja_header .segundoh1{
        grid-area: box6;
        text-align: center;
        font-size: 18px;   
    }
    
    .caja_header .tercerh1{
        grid-area: box11;
        text-align: center;
        font-size: 18px;   
        margin-right: 5%;
    }
    
    
    .caja_header nav ul li a{
        font-size: 12px;
        padding: 2px;
    }
    
    .caja_header nav{
        grid-area: box16;
        text-align: start;
        font-size: 18px;   
    }

    header nav ul li a:hover{
        font-size: 10px;
    }   
    
}

/*===============================================================================================*/
/*ESTILOS DEL MAIN*/
/*===============================================================================================*/

#main{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #e5d9d9;
    padding-top: 150px;
    background-image: url('../images/fondos/index.jpg');
    background-size: cover;
    background-position: center;
    
}

.textosIndex_quienesSomos{
    width: 100%;
    height: 100vh;    
    padding: 3%;
}

#main .textosIndex_quienesSomos .encabezado{
    text-align: right; 
    padding-right: 35%;
    font-size: 35px;
    font-weight: bold;
}

#main .texto_index{
    text-align: left; 
    margin-left: 50%;
    font-size: 35px;
    font-weight: bold;
    line-height: 160%;
}

.slogan{
    margin-top: 70px;

}

#main .slogan h1{
    text-align: right; 
    font-size: 35px;
    font-weight: bold;
    transition: 1s; 
}

/*===============================================================================================*/
/*ESTILOS PARA LAS PÁGINAS DE LOS PRODUCTOS*/
/*===============================================================================================*/
/*===============================================================================================*/
 /*AQUÍ TENGO APLICADO GRID - AQUÍ TENGO APLICADO GRID - AQUÍ TENGO APLICADO GRID - AQUÍ TENGO APLICADO GRID*/
/*===============================================================================================*/

#main .productos{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "box1 box2 box3 box4"
    "box5 box6 box7 box8";   
    column-gap:2%;
    grid-row-gap: 10%;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%; 
    margin-bottom: 3%;     
}

#main .productos figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-size: cover;
}

.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box4{
    grid-area: box4;
}
.box5{
    grid-area: box5;
}
.box6{
    grid-area: box6;
}
.box7{
    grid-area: box7;
}
.box8{
    grid-area: box8;
}

.box_2doDulce{
    grid-area: box7;
}

.box_2doDulce_texto{
    grid-area: box8;
}


#main .productos .imagen img{
        width: 100%;
        height: 100%;
        border-radius: 5%;
}

.productos h1{
    font-size: 25px;
    color: black;
}

.productos h2{
    font-size: 22px;
    color: black;
    margin-top: 4%;
}

.productos button{
    margin-top: 10%;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(12, 12, 12);
    border-radius: 10%;
    padding: 1%;
}

/*===============================================================================================*/
/*PSEUDOCLASES DEL MAIN*/
/*===============================================================================================*/


#main .productos figure:hover{
    width: 105%;
    height: 105%;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-size: cover;
}

#main .slogan h1:hover{
   
    font-size: 45px;
    color: rgb(198, 6, 127);
    transition: 1s;
}


/*===============================================================================================*/
/*DISEÑO RESPONSIVE DEL MAIN DE LAS PÁGINAS DE PRODUCTOS*/
/*MODIFICACIÓN DE PROPIEDADES PARA CUANDO LA PÁGINA TENGA UN ANCHO MENOR O IGUAL A 850 PIXELES*/
/*===============================================================================================*/

@media (max-width: 850px){

    #main .textosIndex_quienesSomos .encabezado{
        font-size: 25px;
    }
    
    #main .texto_index{
        font-size: 25px;
    }
    
    #main .slogan h1{

        font-size: 25px;
        font-weight: bold;
        transition: 1s;  
        margin-top: 350px;  
    }

    #main .slogan h1:hover{
        font-size: 30px;
        transition: 1s;
    }

    #main .productos{
        display: grid;
        grid-template-columns: repeat(2,45%);
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "box1 box2"
        "box3 box4"
        "box5 box6"
        "box7 box8"; 
        column-gap:5%;
        grid-row-gap: 10%;
        margin-top: 2%;
        margin-left: 3%;
        margin-right: 3%; 
        margin-bottom: 3%;              
    } 

    .box_2doDulce{
        grid-area: box3;
    }
    
    .box_2doDulce_texto{
        grid-area: box4;
    }
    
    .productos h1{
        font-size: 22px;
        color: black;
    }
    
    .productos h2{
        font-size: 20px;
        color: black;
        margin-top: 6%;
    }

    .productos button{
       margin-top: 15%;
    }

}


/*===============================================================================================*/
/*ESTILOS DEL FOOTER*/
/*===============================================================================================*/

#pie_de_pagina{
    width: 100%;
    height: 150px;
    margin-top: auto;
    background-color: black;        
}

.box_footer{
    display: grid;
    grid-template-columns: repeat(4 25px);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "box1 box2 box2 box3";
}
.box_logo{
    grid-area: box1; 
}

.box_logo figure{
    padding-left: 15px;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.box_logo figure img{

    width: 70%;
    height: 70%;
} 

.box_redes_sociales{
    grid-area: box2;
    padding-top: 5%; 
    display: flex;
    align-items: center;
}

.box_redes_sociales .box_redes_sociales_1ergrupo a img{
    padding-left: 10px;
}

.box_redes_sociales .box_redes_sociales_2dogrupo a img{
    padding-left: 10px;
    margin-left: 1px
}

.box_contactos{
    grid-area: box3; 
    display: flex;
    flex-direction: column;
}

.box_contactos_whatsApp{
    display: flex;
    gap: 10px;
    padding-top: 10px;
    align-items: end;
}

.box_contactos_telefono{
    display: flex;
    gap: 10px;
    padding-top: 10px;
    align-items: end;
}

.box_contactos_ubicacion{
    display: flex;
    gap: 10px;
    padding-top: 10px;
    align-items: end;
}

.box_contactos div h4{
    color: white;
    font-size: 20px;
    padding-right: 5%;
    margin-bottom: 1%;
}


/*===============================================================================================*/
/*DISEÑO RESPONSIVE DEL FOOTER*/
/*MODIFICACIÓN DE PROPIEDADES PARA CUANDO LA PÁGINA TENGA UN ANCHO MENOR O IGUAL A 850 PIXELES*/
/*===============================================================================================*/

@media (max-width: 850px){
    .box_logo figure{
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
    }

    

    .box_logo figure img a{    
        width: 100%;
        height: 100%;
    } 

    .box_logo figure img{    
        width: 100%;
        height: 100%;        
    } 
    
    .box_redes_sociales{
        flex-direction: column;
    }
    .box_contactos div h4{
        font-size: 10px;
    }

}